[submodule "/Users/frovolod/Documents/NEAR/near-social/src/project/new/new-project-template"]
	path = /Users/frovolod/Documents/NEAR/near-social/src/project/new/new-project-template
	url = https://github.com/frol/bos-component-ts-starter.git
